/* --- General --- */
.pagina-login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #F0F9FF;
}

/* --- Navbar --- */
.barra-nav {
  background-color: #1E3A8A;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
}

.navbar-nav .nav-link {
  font-weight: 500;
  font-size: 1.1rem;
  color: #F0F9FF !important;
}

.navbar-nav .nav-link:hover {
  color: #06B6D4 !important;
}

/* --- Contenedor --- */
.contenedor-login {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
}

/* Imagen */
.imagen-login {
  flex: 1;
  background: url("images/imagenes_login/mascotas.jpg") center/cover no-repeat;
  background-size: contain;
  min-height: 300px;
  margin-left: 3rem;
}


/* Formulario */
.formulario-login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.caja-formulario {
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 420px;
  animation: fadeIn 0.6s ease-in-out;
}

/* Tabs */
.nav-pills .nav-link {
  border-radius: 30px;
  color: #0891B2;
  font-weight: 600;
}
.nav-pills .nav-link.active {
  background-color: #06B6D4;
  color: #fff;
}

/* Inputs */
.input-group-text {
  background-color: #0891B2;
  border: none;
  color: #fff;
}
.form-control:focus {
  border-color: #06B6D4;
  box-shadow: 0 0 0 0.2rem rgba(6, 182, 212, 0.25);
}

/* Botón */
.boton-verde {
  background-color: #06B6D4;
  color: #fff;
  border-radius: 30px;
  transition: 0.3s;
}
.boton-verde:hover {
  background-color: #0891B2;
  transform: scale(1.05);
}

/* Footer */
.pie-pagina {
  background: #1E3A8A;
}

/* Animación */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .contenedor-login {
    flex-direction: column;
  }
  .imagen-login {
    width: 100%;
    height: 200px;
  }
  .formulario-login {
    padding: 1.5rem;
  }
}
